$color-primary: #FF4646;
$color-primary10: rgba(255, 70, 70, 0.1);
$color-dark: #181C29;
$color-static-white: #FFFFFF;
$color-static-white40: rgba(255, 255, 255, 0.4);
$color-static-white20: rgba(255, 255, 255, 0.2);
$color-tag-purple: #4361FF;
$color-tag-pink: #FF43F7;
$color-tag-green: #06A44F;
$color-content-background: #ECF3F8;
$color-overlay: rgba(24, 28, 41, 0.8);

$content-width: 1276px;
$content-width-min: 880px;
$tablet-width: 768px;
$mobile-width-max: 620px;
$mobile-width: 380px;

$desktop: "(min-width: 769px)";
$mobile: "(max-width: 1023px)";