@font-face {
    font-family: 'Montserrat';
    src: url(/christmas-shop/christmas-shop/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Allura';
    src: url(/christmas-shop/christmas-shop/fonts/Allura-Regular.ttf);
}