@font-face {
    font-family: 'Montserrat';
    src: url(/digrayden-JSFE2024Q4/christmas-shop/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Allura';
    src: url(/digrayden-JSFE2024Q4/christmas-shop/fonts/Allura-Regular.ttf);
}